{% extends "customer/base.html" %}

{% block title %}Welcome, {{ session.shop_name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="my-4">Welcome to the Bookstore</h1>
            </div>
        </div>
        <!-- Display flash messages, if any -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-dismissible fade show" role="alert">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col text-center">
                <h2>Hello, {{ session.shop_name }}!</h2>
                <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col text-center">
                <a href="{{ url_for('shop_register') }}" class="btn btn-primary">Register New Shop</a>
            </div>
        </div>

        <div class="row mt-4">
            {% for book in books %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ book[1] }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ book[2] }}</h6>
                        <p class="card-text">{{ book[3] }}</p>
                        <p class="card-text"><strong>Price: {{ format_currency(book[4]) }}</strong></p>
                        <a href="{{ url_for('book', book_id=book[0]) }}" class="btn btn-primary">View Details</a>
                        <a href="{{ url_for('add_to_cart', book_id=book[0]) }}" class="btn btn-success">Add to Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}